<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Test INDEX page</title>
    <link rel="stylesheet" href="/styles/style3.css" />
  </head>
  <body>
    <!-- HEADER -->
    <!-- <header>
      <h1>Hello I am Header !</h1>
      <a href="/test">GO to the test page by header.</a>
    </header> -->

    <!-- MAIN -->
    <!-- <main>
      <h1>Hello I am Main !</h1>
      <p>I am content.</p>
    </main> -->

    <!-- FOOTER -->
    <!-- <footer>
      <h1>Hello I am Main !</h1>
      <p>I am copyrigth.</p>
    </footer> -->

    <%-partial("partial/header")%> <%-body %>
    <!-- /.container -->
    <%-partial("partial/footer")%>
  </body>
</html>
