<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Test FOOTER partial</title>
    <link rel="stylesheet" href="/styles/style3.css" />
  </head>
  <body>
    <!-- FOOTER -->
    <footer>
      <h1>Hello I am Footer !</h1>
      <p>I am copyrigth.</p>
    </footer>
  </body>
</html>
