<header class="navigation py-4">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <div class="navbat-header me-2">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ps-4" href="/">
          <img
            loading="prelaod"
            decoding="async"
            class="img-fluid"
            width="150"
            height="55"
            src="/img/logo.png"
            alt="CoinUniverse"
          />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav me-auto pt-2">
          <li class="nav-item">
            <a class="nav-link fw-bold fz-16 me-2" href="/">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fz-16" href="/project">展覽作品</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ms-auto pt-2">
          <li>
            <ul class="social-icons d-flex">
              <li class="me-2">
                <a
                  href="https://www.instagram.com/ntuedtd112/"
                  target="_blank"
                  rel="instagram"
                  aria-label="Instagram"
                >
                  <i class="fa-brands fa-instagram fz-26"></i>
                </a>
              </li>
              <li class="mx-2">
                <a
                  href="https://www.facebook.com/ntuedtd111"
                  target="_blank"
                  rel="facebook"
                  aria-label="Facebook"
                >
                  <i class="fa-brands fa-facebook fz-26"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
